body {
  background: #828994;
  background-image: url("./background.svg");
}

.App {
  background: transparent;
  color: #2d343c;
  margin: 30px auto;
  width: 100%;
}

.App .container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  max-width: 600px;
}

.App footer {
  margin: 30px 0;
  padding: 10px 0 20px 0;
}
