html {
  background: #828994;
  background-image: url("./background.svg");
}

.App {
  background: transparent;
  background-image: url("./background.svg");
  color: #2d343c;
  margin: 30px auto;
}

.App .container {
  background: rgba(255, 255, 255, 0.8);
}

.App footer {
  margin: 30px auto;
}
