.Dictionary h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.Dictionary form {
  background: #474e57;
}

.Dictionary form input {
  background: #2d343c;
  color: #fff;
}

.Dictionary section {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.37);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  margin: 20px 10px;
}

.Dictionary input {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 6px;
  padding: 5px 4px;
}
